div{
    background-color: salmon;
    margin: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    width: 300px;
    border: dashed black;
}
*{
    margin: 0%;
}
.aa{
    position: static;
}
.bb{
    position: relative;
    left: 500px;
}
.cc{
    position: absolute;
    top: 300px;
    left: 300px;
}
.dd{
    position: fixed;
top: 500px;
left: 900px;
}
.ee{
    position: sticky;
    top: 0%;
    width: 100%;
    margin: 0%;
    
}